<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Objects">
            <file>./tests/Objects/CourseTest.php</file>
            <file>./tests/Objects/EnrollmentTest.php</file>
            <file>./tests/Objects/MoodleCourseCategoryTest.php</file>
            <file>./tests/Objects/MoodleCourseTest.php</file>
            <file>./tests/Objects/EnrollmentTest.php</file>
            <file>./tests/Objects/UserTest.php</file>
        </testsuite>
        <testsuite name="Helpers">
            <file>./tests/Helpers/CourseDatabaseHelperTest.php</file>
            <file>./tests/Helpers/DatabaseHelperTest.php</file>
            <file>./tests/Helpers/EnrollmentDatabaseHelperTest.php</file>
            <file>./tests/Helpers/TextHelperTest.php</file>
            <file>./tests/Helpers/UserDatabaseHelperTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <file>./src/Objects/Course.php</file>
            <file>./src/Objects/Enrollment.php</file>
            <file>./src/Objects/MoodleCourse.php</file>
            <file>./src/Objects/MoodleCourseCategory.php</file>
            <file>./src/Objects/Enrollment.php</file>
            <file>./src/Objects/User.php</file>
            <file>./src/Helpers/CourseDatabaseHelper.php</file>
            <file>./src/Helpers/DatabaseHelper.php</file>
            <file>./src/Helpers/EnrollmentDatabaseHelper.php</file>
            <file>./src/Helpers/MoodleCourseDatabaseHelper.php</file>
            <file>./src/Helpers/MoodleCourseCategoriesDatabaseHelper.php</file>
            <file>./src/Helpers/UserDatabaseHelper.php</file>
            <file>./src/Helpers/TextHelper.php</file>
        </whitelist>
    </filter>
</phpunit>