<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Objects">
            <file>./tests/Objects/UserTest.php</file>
        </testsuite>
        <testsuite name="Helpers">
            <file>./tests/Helpers/DatabaseHelperTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>./tests/Objects/UserTest.php</file>
            <file>./tests/Helpers/DatabaseHelperTest.php</file>
        </whitelist>
    </filter>
</phpunit>